@model List<People> 

<h1>
  this is index file.
</h1>
<table class="table table-primary">
  <thead>

  
    <tr class="table-active">
    </tr>
    <tr>
      
       <td  class="table-active">SN</td>
      <td  class="table-active">Firstname</td>
      <td  class="table-active">lastname</td>
      <td class="table-active">Address</td>
      <td class="table-active">Gender</td>
      <td class="table-active">Salary</td>
    </tr>
</thead>

<tbody>
  @foreach(var employees in Model){
    <tr>
      <td>@employees.SN</td>
      <td>@employees.Fname</td>
      <td>@employees.Lname </td>
      <td>@employees.Address</td>
      <td>@employees.Gender</td>
      <td>@employees.Salary</td>
    </tr>
  }

</tbody>

</table>