@model List<Person>
<h1>all employeess...</h1>
<table class="table">
  <thead class="thead-dark">
    
          <tr>
      
      <th scope="col">Firstname</th>
      <th scope="col">Lastname</th>
      <th scope="col"><Address></th>
      <th scope="col"><Salary></th>
      <th scope="col"><Gender></th>
      <th scope="col"><Contact></th>
    </tr>
  </thead>
  <tbody>
    @foreach (var employee in Model)
    {
      <tr scope="row">
        <td>
          <a href="/employee/detail?firstname=@employee.Firstname">
          @employee.Firstname</a>
          </td>
        <td>@employee.Lastname</td>
        <td>@employee.Addressname</td>
        <td>@employee.Gender</td>
        <td>@employee.Contact</td>
        <td>@employee.Salary</td>

      </tr>  
    }
  </tbody>
  </table>

